core/src/main/resources/openweathermap/current-weather.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns="current-weather" targetNamespace="current-weather"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="current" type="currentWeather"/>

    <xs:complexType name="currentWeather">
        <xs:sequence>
            <xs:element name="city" type="city"/>
            <xs:element name="temperature" type="temperature"/>
            <xs:element name="humidity" type="humidity"/>
            <xs:element name="pressure" type="pressure"/>
            <xs:element name="wind" type="wind"/>
            <xs:element name="clouds" type="clouds"/>
            <xs:element name="visibility" type="xs:string"/>
            <xs:element name="precipitation" type="precipitation"/>
            <xs:element name="weather" type="weather"/>
            <xs:element name="lastupdate" type="lastUpdate"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="city">
        <xs:sequence>
            <xs:element name="coord" type="coord" />
            <xs:element name="country" type="xs:string" />
            <xs:element name="sun" type="sun" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" />
        <xs:attribute name="name" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="coord">
        <xs:attribute name="lon" type="xs:double" />
        <xs:attribute name="lat" type="xs:double"/>
    </xs:complexType>
    <xs:complexType name="sun">
        <xs:attribute name="rise" type="xs:dateTime" />
        <xs:attribute name="set" type="xs:dateTime"/>
    </xs:complexType>

    <xs:complexType name="temperature">
        <xs:attribute name="value" type="xs:double"/>
        <xs:attribute name="min" type="xs:double"/>
        <xs:attribute name="max" type="xs:double"/>
        <xs:attribute name="unit" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="humidity">
        <xs:attribute name="value" type="xs:byte"/>
        <xs:attribute name="unit" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="pressure">
        <xs:attribute name="value" type="xs:double"/>
        <xs:attribute name="unit" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="wind">
        <xs:sequence>
            <xs:element name="speed" type="speed"/>
            <xs:element name="direction" type="direction"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="speed">
        <xs:attribute name="value" type="xs:double"/>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="direction">
        <xs:attribute name="value" type="xs:double"/>
        <xs:attribute name="code" type="xs:string"/>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="clouds">
        <xs:attribute name="value" type="xs:byte"/>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="precipitation">
        <xs:attribute name="value" type="xs:double"/>
        <xs:attribute name="mode" type="xs:string" use="required"/>
        <xs:attribute name="unit" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="weather">
        <xs:attribute name="number" type="xs:short"/>
        <xs:attribute name="value" type="xs:string"/>
        <xs:attribute name="icon" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="lastUpdate">
        <xs:attribute name="value" type="xs:dateTime"/>
    </xs:complexType>
</xs:schema>